header
  .wrapper
    .logo-side
      a(href="#")
        img(src="../img/logo.png", alt="Logotype InsideTracker")
    .menu-side
      nav
        ul
          li
            a(href="#lorem-1") Lorem 1
          li
            a(href="#lorem-2") Lorem 2
          li
            a(href="#lorem-3") Lorem 3
          li
            a(href="#lorem-4") Lorem 4
    .button-side
      button.green-button Lorem ipsum
