header
  .wrapper
    .logo-side
      img(src="../img/logo.png", alt="Logotype InsideTracker")
    .menu-side
      nav.navbar-collapse
        ul
          li
            a.white-links(href="#lorem-1__ancor") Lorem 1
          li
            a.white-links(href="#lorem-2__ancor") Lorem 2
          li
            a.white-links(href="#lorem-3__ancor") Lorem 3
          li
            a.white-links(href="#lorem-4__ancor") Lorem 4
        button.menu-icon-close
      button.menu-icon-open
    .button-side
      button.green-button Lorem ipsum
