section#lorem-2
  .wrapper
    h2 Lorem&nbsp;
      span 2

    .slider-carousel
      .slider-carousel__slide
        img(src="../img/photo-1.png", alt="Photo of teacher 1")
        .slider-carousel__text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        .slider-carousel__links
          a(href="#") Teacher 1
          a(href="#") Pro Member
      .slider-carousel__slide
        img(src="../img/photo-2.png", alt="Photo of teacher 2")
        .slider-carousel__text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        .slider-carousel__links
          a(href="#") Teacher 2
          a(href="#") Pro Member
      .slider-carousel__slide
        img(src="../img/photo-3.png", alt="Photo of teacher 3")
        .slider-carousel__text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        .slider-carousel__links
          a(href="#") Teacher 3
          a(href="#") Pro Member

    .button-side
      button.green-button Lorem ipsum