section#lorem-2
  .ancor#lorem-2__ancor
  .wrapper
    h2 Lorem&nbsp;
      span 2

    .slider-carousel
      .slider-carousel__slide
        img(src="../img/photo-1.png", alt="Photo of teacher 1")
        .slider-carousel__text
          | “Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
        .slider-carousel__links
          a.blue-links(href="#") Teacher 1
        .slider-carousel__links
          a.blue-links(href="#") Pro Member
      .slider-carousel__slide
        img(src="../img/photo-2.png", alt="Photo of teacher 2")
        .slider-carousel__text
          | “Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
        .slider-carousel__links
          a.blue-links(href="#") Teacher 2
        .slider-carousel__links
          a.blue-links(href="#") Pro Member
      .slider-carousel__slide
        img(src="../img/photo-3.png", alt="Photo of teacher 3")
        .slider-carousel__text
          | “Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
        .slider-carousel__links
          a.blue-links(href="#") Teacher 3
        .slider-carousel__links
          a.blue-links(href="#") Pro Member

    .button-side
      button.green-button Lorem ipsum