section#lorem-4
  .wrapper
    h4 Lorem&nbsp;
      span 4
    .form-block
      .form-block__text
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          | do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .form-block__book
        img(src="../img/book.jpg", alt="Inside Tracker book")
      .form-block__form
        form#order
          .form-line
            lable(for="first-name") First Name
            input#first-name(type="text", placeholder="First Name", name="first-name")
          .form-line
            lable(for="last-name") Last Name
            input#first-name(type="text", placeholder="Last Name", name="last-name")
          .form-line
            lable(for="email") Email
            input#first-name(type="text", placeholder="Email", name="email")
          .form-line.button-side
            button.green-button Lorem ipsum
