section#lorem-4
  .anchor#lorem-4__ancor
  .wrapper
    h4 Lorem&nbsp;
      span 4
    .form-block.clear
      .form-block__text
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          | do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .form-block__book
        img(src="../img/book.jpg", alt="Inside Tracker book")
      .form-block__form
        form#order
          .label-side
            .form-line
              label(for="first-name") First Name
            .form-line
              label(for="last-name") Last Name
            .form-line
              label(for="email") Email
          .input-side
            .form-line
              input.grey-input#first-name(type="text", placeholder="First Name", name="first-name")
            .form-line
              input.grey-input#last-name(type="text", placeholder="Last Name", name="last-name")
            .form-line
              input.grey-input#email(type="text", placeholder="Email", name="email")
          .clear
          .button-side
            button.green-button Lorem ipsum
