section#lorem-1
  .ancor#lorem-1__ancor
  .slider-wrap
    .slider-home
      img(src="../img/slide-1.jpg", alt="First slide")
      img(src="../img/slide-2.jpg", alt="Second slide")
      img(src="../img/slide-3.jpg", alt="Third slide")
    .slider-text
      .wrapper
        h1 Lorem
          span 1?
        .slider-text__text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        .slider-text__slogan
          | Lorem ipsum dolor sit amet,&nbsp;
          span.color-green consectetur adipiscing elit