section#lorem-3
  .anchor#lorem-3__ancor
  .wrapper
    h3 Lorem&nbsp;
      span 3
    .lorem-3__text
      p.font-size-25
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      p.font-size-20
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        | ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        | laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        | velit esse cillum dolore eu fugiat nulla pariatur.
      p.font-size-20.color-green
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore .
      p.font-size-25
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .button-side
      button.green-button Lorem ipsum
