@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000;
  background: #fff;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  color: #fff;
  font-size: 82px;
}

h1 span {
  color: #64c800;
}

h2, h4 {
  color: #3d3e46;
  font-size: 52px;
  padding-top: 80px;
  margin-bottom: 60px;
}

h2 span, h4 span {
  color: #1b8aaa;
}

h3 {
  color: #fff;
  font-size: 52px;
  padding-top: 80px;
  margin-bottom: 60px;
}

h3 span {
  color: #64c800;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-20 {
  font-size: 20px;
}

.color-green {
  color: #64c800;
}

.white-links {
  color: #fcfefd;
  text-decoration: none;
}

.white-links:hover {
  text-decoration: underline;
}

.white-links:focus {
  font-weight: bold;
}

.white-links:active {
  text-shadow: 0 5px 8px black;
}

.white-links:disabled {
  color: #fcfefd;
}

.green-button {
  background: #64c800;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  padding: 7px 50px;
  cursor: pointer;
  white-space: nowrap;
}

.green-button:hover {
  background: #67ad21;
}

.green-button:focus {
  background: #fff;
  color: #888888;
  -webkit-box-shadow: 0 0 7px 0 #64c800;
  -moz-box-shadow: 0 0 7px 0 #64c800;
  box-shadow: 0 0 7px 0 #64c800;
}

.green-button:active {
  background: #497f12;
}

.green-button:disabled {
  background: #f5f5f5;
  color: #c3c3c3;
}

.blue-links {
  color: #1b8aaa;
  text-decoration: none;
}

.blue-links:hover {
  color: #596799;
}

.blue-links:focus {
  color: #78c5db;
}

.blue-links:active {
  color: #687bc4;
}

.blue-links:disabled {
  color: #80c9de;
}

.grey-input {
  border: 1px solid #a8b6c7;
  width: 100%;
  color: #a8b6c7;
  background: #fff;
  padding: 10px 15px;
  font-size: 16px;
  box-sizing: border-box;
}

.grey-input:hover {
  color: #c3c3c3;
  border: 1px solid #a8a9ab;
}

.grey-input:focus {
  color: #c3c3c3;
  -webkit-box-shadow: 0 0 7px 0 #a8a9ab;
  -moz-box-shadow: 0 0 7px 0 #a8a9ab;
  box-shadow: 0 0 7px 0 #a8a9ab;
}

.grey-input:active {
  color: #6e6c6c;
  border: 1px solid #e8e8e8;
}

.grey-input:disabled {
  background: #f5f5f5;
  color: #6e6c6c;
  border: 1px solid #e8e8e8;
}

.anchor {
  display: block;
  position: relative;
  top: -82px;
  visibility: hidden;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  background: #3f4049;
}

header .logo-side {
  float: left;
  width: 17.70833%;
  margin-right: 2.08333%;
  padding-top: 20px;
  padding-bottom: 14px;
}

header .menu-side {
  float: left;
  width: 54.16667%;
  text-align: center;
  padding-top: 27px;
}

header .menu-side ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header .menu-side ul li {
  display: inline-block;
  margin: 0 5%;
}

header .menu-side ul li a {
  text-decoration: none;
  color: #fff;
}

header .menu-side button.menu-icon-close {
  display: none;
}

header .menu-side button.menu-icon-open {
  display: none;
}

header .button-side {
  text-align: right;
  float: left;
  width: 23.95833%;
  margin-left: 2.08333%;
  padding-top: 21px;
  padding-bottom: 20px;
}

#lorem-1 {
  padding-top: 82px;
}

#lorem-1 .slider-wrap {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

#lorem-1 .slider-wrap .slider-text {
  color: #fff;
  position: absolute;
  bottom: 60px;
  margin: 0;
  width: 100%;
}

#lorem-1 .slider-wrap .slider-text .wrapper {
  width: 490px;
  text-align: center;
  margin: 0 auto;
}

#lorem-1 .slider-wrap .slider-text h1 span {
  display: block;
  line-height: 0.5;
  margin-bottom: 45px;
}

#lorem-1 .slider-wrap .slider-text__text {
  margin-bottom: 80px;
  font-size: 25px;
}

#lorem-1 .slider-wrap .slider-text__slogan {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: -2px;
  font-weight: bold;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 20px;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li button::before {
  font-size: 8px;
  color: #fff;
  opacity: 1;
}

.slick-dots li.slick-active button::before {
  font-size: 12px;
  opacity: 1;
  color: #64c800;
}

#lorem-2 {
  padding-bottom: 65px;
  position: relative;
}

#lorem-2:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg-spekles.png) no-repeat 100%;
  background-size: contain;
  background-position: 0 0;
  z-index: -1;
}

#lorem-2:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg-spekles-bottom.png) no-repeat 100%;
  background-size: contain;
  background-position: 0 100%;
  z-index: -1;
}

#lorem-2 .slider-carousel {
  width: 89.58333%;
  margin: 0 auto 60px;
}

#lorem-2 .slider-carousel__slide {
  text-align: center;
}

#lorem-2 .slider-carousel__slide img {
  margin: 0 auto;
}

#lorem-2 .slider-carousel__text {
  font-size: 18px;
  color: #505a64;
  margin: 0 10px 25px;
}

#lorem-2 .button-side {
  text-align: center;
}

#lorem-3 {
  width: 100%;
  margin: 0;
  padding: 0 0 52px;
  background: url(../img/section-3_bg.jpg) no-repeat;
  background-size: cover;
}

#lorem-3 .lorem-3__text {
  color: #fff;
  text-align: center;
}

#lorem-3 .lorem-3__text p {
  margin: 30px 50px;
}

#lorem-3 .button-side {
  text-align: center;
}

#lorem-4 {
  background-color: #f4f6f9;
  padding-bottom: 160px;
}

#lorem-4 .bg-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

#lorem-4 .bg-wrapper:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg-spekles.png) no-repeat 100%;
  background-size: contain;
  background-position: 0 0;
  z-index: -1;
}

#lorem-4 .bg-wrapper:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg-spray.png) no-repeat 100%;
  background-size: contain;
  background-position: 0 100%;
  z-index: -1;
}

#lorem-4 .form-block {
  margin: 0 10px;
  background: #fff;
}

#lorem-4 .form-block__text {
  width: 72.91667%;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  color: #46505a;
  padding: 60px 0;
}

#lorem-4 .form-block__text p {
  margin: 0;
}

#lorem-4 .form-block__book {
  width: 31.91489%;
  float: left;
  text-align: center;
  position: relative;
}

#lorem-4 .form-block__book img {
  position: absolute;
  left: 40px;
  mix-blend-mode: multiply;
}

#lorem-4 .form-block__form {
  width: 61.70213%;
  float: right;
}

#lorem-4 .form-block__form form {
  padding-right: 60px;
}

#lorem-4 .form-block__form form label {
  width: 20.68966%;
  float: left;
  font-size: 16px;
  color: #1b8aaa;
  padding: 10px 0;
  display: block;
  font-weight: bold;
}

#lorem-4 .form-block__form form input {
  width: 75.51724%;
  float: right;
}

#lorem-4 .form-block__form form .form-line {
  padding-bottom: 20px;
}

#lorem-4 .form-block__form .button-side {
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: right;
}

@media all and (min-width: 1600px) {
  .slider-home img {
    width: 100%;
  }
}

@media all and (min-width: 751px) and (max-width: 960px) {
  .wrapper {
    max-width: 100%;
    margin: 0 2%;
  }
  header .button-side {
    display: none;
  }
  header .menu-side {
    width: 78.125%;
  }
}

@media all and (max-width: 800px) {
  #lorem-4 .form-block__book {
    width: 36.17021%;
  }
  #lorem-4 .form-block__form {
    width: 57.44681%;
  }
  #lorem-4 .form-block__form form label {
    width: 100%;
    float: none;
    padding: 0 0 20px;
  }
  #lorem-4 .form-block__form form input {
    width: 100%;
    float: none;
  }
  #lorem-4 .form-block__form form .form-line {
    padding-bottom: 20px;
  }
}

@media all and (max-width: 750px) {
  h2, h4 {
    font-size: 50px;
    padding-top: 40px;
    margin-bottom: 30px;
  }
  h2 span, h4 span {
    display: block;
    line-height: 0.7;
  }
  h3 {
    font-size: 50px;
    padding-top: 40px;
    margin-bottom: 30px;
  }
  h3 span {
    display: block;
    line-height: 0.7;
  }
  .green-button {
    border-radius: 5px;
    width: 100%;
  }
  header .button-side {
    display: none;
  }
  header .logo-side {
    width: 46%;
    margin: 0 0 0 4%;
  }
  header .menu-side {
    width: 46%;
    margin: 0 4% 0 0;
    text-align: right;
  }
  header .menu-side nav {
    background: #3f4049;
    padding: 82px 0 15px;
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    text-align: center;
  }
  header .menu-side nav ul li {
    display: list-item;
    padding-bottom: 15px;
  }
  header .menu-side button.menu-icon-close {
    display: block;
    border: none;
    background: url(../img/close.png);
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 30px;
  }
  header .menu-side button.menu-icon-open {
    display: inline-block;
    border: none;
    background: url(../img/menu.png);
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  #lorem-1 .slider-wrap .slider-home img {
    width: 100%;
  }
  #lorem-1 .slider-wrap .slider-text {
    top: 225px;
    bottom: auto;
  }
  #lorem-1 .slider-wrap .slider-text .wrapper {
    width: 94%;
  }
  #lorem-1 .slider-wrap .slider-text h1 {
    font-size: 75px;
  }
  #lorem-1 .slider-wrap .slider-text h1 span {
    line-height: 1;
    margin-bottom: 75px;
  }
  #lorem-1 .slider-wrap .slider-text__text {
    font-size: 30px;
  }
  #lorem-1 .slider-wrap .slider-text__slogan {
    font-size: 27px;
  }
  #lorem-2:after, #lorem-2:before {
    display: none;
  }
  #lorem-2 .slider-carousel {
    width: 83.33333%;
  }
  #lorem-2 .button-side {
    width: 92%;
    margin: 0 4%;
  }
  #lorem-3 .font-size-25 {
    font-size: 17.5px;
  }
  #lorem-3 .font-size-20 {
    font-size: 17.5px;
  }
  #lorem-3 .button-side {
    width: 92%;
    margin: 0 4%;
  }
  #lorem-4 {
    padding-bottom: 60px;
  }
  #lorem-4 .form-block {
    background: #f4f6f9;
    margin: 0;
  }
  #lorem-4 .form-block__text {
    font-size: 16px;
    padding: 0;
    margin: 30px auto;
  }
  #lorem-4 .form-block__book {
    width: 100%;
    float: none;
    text-align: center;
    position: static;
  }
  #lorem-4 .form-block__book img {
    position: static;
    left: 40px;
    mix-blend-mode: multiply;
  }
  #lorem-4 .form-block__form {
    width: 92%;
    margin: 4%;
    float: none;
  }
  #lorem-4 .form-block__form form {
    padding-right: 0;
  }
  #lorem-4 .form-block__form form label {
    width: 100%;
    float: none;
    padding: 0 0 20px;
  }
  #lorem-4 .form-block__form form input {
    width: 100%;
    float: none;
  }
  #lorem-4 .form-block__form form .form-line {
    padding-bottom: 20px;
  }
  #lorem-4 .form-block__form .button-side {
    text-align: center;
    padding-bottom: 0;
  }
}

@media all and (max-width: 600px) {
  #lorem-1 .slider-wrap .slider-text {
    top: 140px;
  }
}

@media all and (max-width: 480px) {
  #lorem-1 .slider-wrap .slider-text {
    top: 50px;
  }
  #lorem-1 .slider-wrap .slider-text h1 {
    font-size: 50px;
  }
  #lorem-1 .slider-wrap .slider-text__text {
    font-size: 25px;
  }
  #lorem-1 .slider-wrap .slider-text__slogan {
    font-size: 22px;
    letter-spacing: 1px;
  }
}

@media all and (max-width: 400px) {
  #lorem-1 .slider-wrap .slider-text {
    top: 20px;
  }
  #lorem-1 .slider-wrap .slider-text h1 {
    font-size: 40px;
  }
  #lorem-1 .slider-wrap .slider-text h1 span {
    margin-bottom: 40px;
  }
  #lorem-1 .slider-wrap .slider-text__text {
    font-size: 20px;
  }
  #lorem-1 .slider-wrap .slider-text__slogan {
    font-size: 16px;
  }
}
