$white: #fff;
$lighter-gray: #f4f6f9;
$light-gray: #505a64;
$middle-gray: #46505a;
$dark-gray: #3d3e46;
$darken-gray: #3f4049;
$green: #64c800;
$light-blue-gray: #a8b6c7;
$blue: #1b8aaa;
$black: #000;

$hover-green: #67ad21;
$active-green: #497f12;
$disabled-green: #f5f5f5;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $black;
  background: $white;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  color: $white;
  font-size: 82px;
  & span {
    color: $green;
  }
}

h2, h4 {
  color: $dark-gray;
  font-size: 52px;
  padding-top: 80px;
  margin-bottom: 60px;
  & span {
    color: $blue;
  }
}

h3 {
  color: $white;
  font-size: 52px;
  padding-top: 80px;
  margin-bottom: 60px;
  & span {
    color: $green;
  }
}

.font-size-25 {
  font-size: 25px;
}

.font-size-20 {
  font-size: 20px;
}

.color-green {
  color: $green;
}

.green-button {
  background: $green;
  color: $white;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  padding: 7px 50px;
  cursor: pointer;
  white-space: nowrap;
  &:hover {
    background: $hover-green;
  }
  &:focus {
    background: $white;
    color: #888888;
    -webkit-box-shadow: 0 0 7px 0 $green;
    -moz-box-shadow: 0 0 7px 0 $green;
    box-shadow: 0 0 7px 0 $green;
  }
  &:active {
    background: $active-green;
  }
  &:disabled {
    background: $disabled-green;
    color: #c3c3c3;
  }
}

.blue-links {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: #596799;
  }
  &:focus {
    color: #78c5db;
  }
  &:active {
    color: #687bc4;
  }
  &:disabled {
    color: #80c9de;
  }
}

.ancor {
  display: block;
  position: relative;
  top: -82px;
  visibility: hidden;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  background: $darken-gray;
  .logo-side {
    float: left;
    width: 170px * 100% / 960px;
    margin-right: 20px * 100% / 960px;
    padding-top: 20px;
    padding-bottom: 14px;
  }
  .menu-side {
    float: left;
    width: 520px * 100% / 960px;
    text-align: center;
    padding-top: 27px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        a {
          text-decoration: none;
          color: $white;
          padding: 0 30px;
        }
      }
    }
  }
  .button-side {
    text-align: right;
    float: left;
    width: 230px * 100% / 960px;
    margin-left: 20px * 100% / 960px;
    padding-top: 21px;
    padding-bottom: 20px;
  }
}

#lorem-1 {
  padding-top: 82px;
  .slider-wrap {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    .slider-text {
      color: $white;
      position: absolute;
      bottom: 60px;
      margin: 0;
      width: 100%;
      .wrapper {
        width: 490px;
        text-align: center;
      }
      h1 {
        span {
          display: block;
          line-height: 0.5;
          margin-bottom: 45px;
        }
      }
      &__text {
        margin-bottom: 80px;
        font-size: 25px;
      }
      &__slogan {
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: -2px;
        font-weight: bold;
      }
    }
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 20px;
  li {
    margin: 0;
    button {
      &::before {
        font-size: 8px;
        color: $white;
        opacity: 1;
      }
    }
    &.slick-active button::before {
      font-size: 12px;
      opacity: 1;
      color: $green;
    }
  }
}

#lorem-2 {
  padding-bottom: 65px;
  .slider-carousel {
    width: 860px;
    margin: 0 auto 60px;
    &__slide {
      text-align: center;
      img {
        margin: 0 auto;
      }
    }
    &__text {
      font-size: 18px;
      color: $light-gray;
      margin: 0 10px 25px;
    }
    &__links {

    }
  }
  .button-side {
    text-align: center;
  }
}

#lorem-3 {
  width: 100%;
  margin: 0;
  padding: 0 0 52px;
  background: url(../img/section-3_bg.jpg) no-repeat;
  background-size: cover;
  .lorem-3__text {
    color: $white;
    text-align: center;
    p {
      margin: 30px 50px;
    }
  }
  .button-side {
    text-align: center;
  }
}

#lorem-4 {
  background: $lighter-gray;
  padding-bottom: 160px;
  .form-block {
    margin: 0 10px;
    background: $white;
    &__text {
      width: 700px;
      text-align: center;
      margin: 0 auto;
      font-size: 24px;
      color: $middle-gray;
      padding: 60px 0;
      p {
        margin: 0;
      }
    }
    &__book {
      width: 300px * 100% / 940px;
      float: left;
      text-align: center;
      position: relative;
      img {
        position: absolute;
        left: 40px;
      }
    }
    &__form {
      width: (640px - 60px) * 100% / 940px;
      float: right;
      form {
        padding-right: 60px;
        .label-side {
          width: 120px * 100% / 580px;
          float: left;
          label {
            font-size: 16px;
            color: $blue;
            padding: 10px 0;
            display: inline-block;
            font-weight: bold;
          }
        }
        .input-side {
          width: (460px - 10px * 2 - 2px) * 100% / 580px;
          float: right;
          input {
            border: 1px solid $light-blue-gray;
            width: 100%;
            color: $light-blue-gray;
            padding: 10px 15px;
            font-size: 16px;
            box-sizing: border-box;
          }
        }
        .form-line {
          padding-bottom: 20px;
        }
      }
      .button-side {
        padding-top: 20px;
        padding-bottom: 50px;
        text-align: right;
      }
    }
  }
}
