doctype
html(lang="ru")
  include include/head.jade
  body
    include include/header.jade
    include include/section_1.jade
    include include/section_2.jade
    include include/section_3.jade
    include include/section_4.jade